
<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr class="data-row" *ngFor = "let indexVar of satellites">

        <td>{{indexVar.name}}</td>
        <td class = warning [class.warning] = "false"> {{indexVar.type}}</td> 
        <td>{{indexVar.operational}}</td>
        <td>{{indexVar.orbitType}}</td>
        <td>{{indexVar.launchDate}}</td> 
      
    </tr> 

  
</table>


<!-- TODO 2a: pass the array named displayList found in app.component.ts into orbit-list -->

<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<!-- TODO 3b: add style directive to conditionally highlight satellite type -->

